.heading{
    text-align: left;
}
/* -----------task 1 start--------------- */
.task1{
    text-align: center;
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
}
.task1 h1{
    margin-top: 0px;

}

/* -----------task 1 finish--------------- */
/* -----------task 2 start--------------- */


.task2{
    text-align: center;
    background-color: rgb(204, 211, 216);
    padding-top: 20px;
    padding-bottom: 20px;
}

/* -----------task 2 finish--------------- */
/* -----------task 3 start--------------- */

#tasknmbr3{
margin: 0 auto;
}

.task3{
margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: black;
}

.task3btn{
text-align: center;
}

.task3btn button{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* -----------task 3 finish--------------- */
/* -----------task 4 start--------------- */

#yel{
    background-color: yellow;
}
#gre{
    background-color: green;
}
#pin{
    background-color: pink;
}
#pur{
    background-color: purple;
}

.task4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* -----------task 4 finish--------------- */
/* -----------task 5 start--------------- */

.task5{
    text-align: center;
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
}
.erro{
    font-size: 15px;
    color: red;
}

/* -----------task 5 finish--------------- */
/* -----------task 6 start--------------- */

.task6{
 text-align: center;
}

.nameinput{
    height: 40px;
}
.shtxt{
    height: 40px;
}


.task6 button.tsk6b1{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.task6 button.tsk6b2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}.task6 button.tsk6b3{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.errortsk6{
    font-size: 15px;
    color: red;
}

/* -----------task 6 finish--------------- */
/* -----------task 7 start---------------- */
#task7{
    text-align: center;
}

.time-table{
    height: 50px;
}