.heading{
    text-align: left;
}

.task1{
    text-align: center;
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
}
.task1 h1{
    margin-top: 0px;

}
.task2{
    text-align: center;
    background-color: rgb(204, 211, 216);
    padding-top: 20px;
    padding-bottom: 20px;
}

#tasknmbr3{
margin: 0 auto;
}

.task3{
margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: black;
}

.task3btn{
text-align: center;
}

.task3btn button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#yel{
    background-color: yellow;
}
#gre{
    background-color: green;
}
#pin{
    background-color: pink;
}
#pur{
    background-color: purple;
}

.task4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.task5{
    text-align: center;
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
}