image{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100%;
  background-image: url('../images/giphy.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.container {
  display: flex;
    /* grid-template-columns: repeat(3,1fr); */
  gap: 30px;
  padding: 40px;
  background: #e9e4ed;
  opacity: 70%;
  border-radius: 12px;
}

input.qwe{
    padding-left: 30px;
    height: 40px;
    border-radius: 12px;
}

.show{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    padding-top: 20px;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
  }

  .qwe{
    text-align: center;
  }

  .btn{
    margin-top: 10px;
    border-radius: 45px;
    height: 40px;
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
  }

  .btn:hover{
    background-color:blue;
    opacity: 50%;
    color: white;
  }
  