*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #0ABAB5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#heading{
    margin: 0px;
    position: absolute;
    top: 5%;
    font-size: 40px;
    font-weight: 700;
    color: aqua;
}

h1{
    fs
}